* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
}

body,
p,
h1,
h2,
h6,
h3 {
  font-family: "Public Sans", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
}

.root {
  overflow-x: hidden;
}

:root {
  --Dark-Blue-primary: hsl(233, 26%, 24%);
  --Lime-Green-primary: hsl(136, 65%, 51%);
  --Bright-Cyan-primary: hsl(192, 70%, 51%);
  --Grayish-Blue-neutral: hsl(233, 8%, 62%);
  --Light-Grayish-Blue-neutral: hsl(220, 16%, 96%);
  --Very-Light-Gray-neutral: hsl(0, 0%, 98%);
  --White-neutral: hsl(0, 0%, 100%);
}

img {
  max-width: 100%;
  height: auto;
}

section.nav-bar {
  padding: 10px 0;
  margin: 0 auto;
  max-width: 1440px;
  background: var(--White-neutral);
  z-index: 1;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 40px;
  align-items: center;
  height: 60px;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  padding-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--Dark-Blue-primary);
}

.btn {
  padding: 10px 30px;
  background: linear-gradient(
    to right,
    var(--Lime-Green-primary),
    var(--Bright-Cyan-primary)
  );
  border-radius: 20px;
  color: var(--White-neutral);
  border: none;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: linear-gradient(
    to right,
    var(--Bright-Cyan-primary),
    var(--Lime-Green-primary)
  );
}

/* Header section */

section.header {
  margin: 0 auto;
  max-width: 1440px;
  background: var(--Very-Light-Gray-neutral);
}

section.header .container {
  display: flex;
  align-items: center;
  position: relative;
}

section.header .container .text {
  flex: 1 0 40%;
  padding-left: 110px;
}

section.header .container .text h1 {
  font-size: 50px;
  font-weight: 200;
}

section.header .container .text p {
  padding: 20px 0;
  color: var(--Grayish-Blue-neutral);
  line-height: 1.4;
}

section.header .container .img {
  flex: 1 0 60%;
  position: relative;
}

section.header .container .img img:first-child {
  position: relative;
  top: -50px;
  transform: scale(1.6);
  bottom: 0;
  right: -200px;
}

section.header .container .img img:last-child {
  position: absolute;
  top: -160px;
  right: -190px;
  transform: scale(1.1);
}

/* Feature section */

section.features {
  max-width: 1440px;
  margin: 0 auto;
  background: var(--Light-Grayish-Blue-neutral);
  padding: 120px 110px;
}

section.features .container .content h1 {
  font-size: 40px;
  font-weight: 500;
}

section.features .container .content p {
  color: var(--Grayish-Blue-neutral);
  line-height: 25px;
  font-size: 14px;
  padding: 25px 0;
}

section.features .container > * + * {
  display: flex;
  margin-left: -30px;
  align-items: center;
}

section.features .container .card-wrapper .features-section {
  margin-left: 30px;
}

section.features .container .card-wrapper .features-section h2 {
  padding: 20px 0;
  font-weight: 400;
}

section.features .container .card-wrapper .features-section p {
  color: var(--Grayish-Blue-neutral);
  line-height: 25px;
  font-size: 14px;
}

/* Article Section */

section.article {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 110px;
  background: var(--Very-Light-Gray-neutral);
}

section.article .heading {
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: 400;
  color: var(--Dark-Blue-primary);
}

section.article .container {
  display: flex;
  align-items: center;
  object-fit: cover;
  margin-left: -30px;
}

section.article .container .card-wrapper {
  margin-left: 30px;
  background: var(--White-neutral);
}

section.article .container .card-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.links a {
  color: var(--Dark-Blue-primary);
  text-decoration: none;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.links a:hover {
  color: var(--Bright-Cyan-primary);
}

section.article .container .card-wrapper h6 {
  padding: 15px 0;
  font-weight: 400;
  color: var(--Grayish-Blue-neutral);
}

section.article .container .card-wrapper p {
  padding-top: 10px;
  font-size: 14px;
  line-height: 20px;
  color: var(--Grayish-Blue-neutral);
}

/* Footer Style */

footer {
  max-width: 1440px;
  margin: 0 auto;
  background: var(--Dark-Blue-primary);
  color: var(--White-neutral);
  padding: 40px 110px;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer .container .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .container .wrapper ul {
  list-style-type: none;
}

footer .container .wrapper ul li {
  padding-bottom: 10px;
}

footer .container .wrapper ul li a {
  color: var(--White-neutral);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

footer .container .wrapper ul li a:hover {
  color: var(--Bright-Cyan-primary);
}

.social-icon a {
  padding-right: 8px;
}
.social-icon a img {
}

.hamburger-btn {
  display: none;
}

@media (max-width: 1150px) {
  section.features .container .card-wrapper .features-section {
    flex: 1 0 40%;
    margin-top: 20px;
  }
  section.features .container .card-wrapper {
    flex-wrap: wrap;
  }

  section.article .container {
    flex-wrap: wrap;
  }
  section.article .container .card-wrapper {
    flex: 1 0 40%;
    margin-top: 20px;
  }
}

@media (max-width: 557px) {
  section.features .container .card-wrapper .features-section {
    flex: 1 0 100%;
  }

  section.article .container .card-wrapper {
    flex: 1 0 100%;
  }
  section.features {
    padding: 120px 80px;
  }
  section.features .container {
    text-align: center;
  }
  section.article {
    padding: 60px 80px;
  }
  .heading {
    text-align: center;
  }
  footer .container {
    flex-direction: column;
    align-items: center;
  }
  footer .container .wrapper {
    text-align: center;
  }
  .social-icon {
    padding: 20px 0;
  }
  .wrapper button {
    margin: 20px;
  }
}

@media (max-width: 870px) {
  .nav-links-res {
    position: fixed;
    top: 80px;
    width: 90%;
    background: var(--White-neutral);
    display: flex;
    flex-direction: column;
    /* left: 50%; */
    left: -500px;
    transform: translateX(-50%);
    border-radius: 20px;
    padding: 20px 0;
    box-shadow: 0px 30px 50px 5px #a0a0a0;
    transition: all 0.3s ease-in-out;
  }

  .nav-links-res.open {
    left: 50%;
  }

  .nav-links-res li {
    padding-left: 0;
    padding-bottom: 10px;
  }

  .nav-links-res li:last-child {
    padding-bottom: 0;
  }

  .btn-res {
    display: none;
  }

  .hamburger-btn {
    display: block;
    outline: none;
    border: none;
    background: none;
  }
}
.attribution {
  background: var(--Dark-Blue-primary);
  border: none;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: var(---Grayish-Blue-neutral);
}
.attribution a:hover {
  color: var(--White-neutral);
}
